export AWS_PROFILE=<aws-profile>
export SNOWFLAKE_USER=<snowflake-user>
export SNOWFLAKE_PASSWORD=<snowflake-password>
export SNOWFLAKE_ACCOUNT=<snowflake-account>
export SNOWFLAKE_REGION=<snowflake-region>
